* {
  margin: 0;
}
.nav {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9)),
    url("main.jpg");
  height: 100vh;
}
.nav-header {
  color: rgb(224, 214, 214);
}

.nav-btn {
  display: none;
}
span {
  color: rgb(164, 73, 164);
}
ul {
  list-style: none;
}
.nav-text ul {
  display: flex;
  list-style: none;
  margin-top: 10px;
}
.nav-text li {
  margin-right: 30px;
  text-align: center;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(224, 214, 214);
}
.home-text {
  margin-top: 300px;
  margin-left: 20%;
  /* width: 400px; */
  color: rgb(224, 214, 214);
}
.profile {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 125px;
  opacity: 0.86;
  margin-top: 40px;
}
.about-container {
  background-color: #191919;
}
.about-header {
  padding-top: 80px;
  display: flex;
  color: white;
  padding-bottom: 100px;
}
.about-text {
  margin-left: 50px;
  width: 700px;
}
.about-btn {
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: rgb(164, 73, 164);
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
.skills-btn button {
  background-color: #566573;
  color: white;
  padding: 8px 15px;
  margin-top: 12px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.tesla-video,
.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 25px;
}
.card-header {
  display: flex;
  margin-top: 30px;
}
.card-details {
  margin-top: 40px;
  margin-left: 50px;
}
.project-container {
  background-color: rgb(13, 8, 23);
  color: rgb(224, 214, 214);
  padding: 80px 0px;
}
.card-header img,
.card-header video {
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card-header img:hover,
.card-header video:hover {
  transform: scale(1.05);
}
.card-details h4 {
  margin-top: 15px;
  display: inline-block;
  color: gold;
  font-size: 18px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.card-details h4:hover {
  transform: scale(1.15);
}
.contact-container {
  background-color: #191919;
}
.contact-header {
  color: rgb(224, 214, 214);
  padding-top: 60px;
  padding-bottom: 50px;
}
.contact-header h1 {
  font-size: 39px;
}
.contact-header h2 {
  margin-top: 40px;
}
.contact-header ul {
  padding-left: 0;
}
.fa-solid,
.fa-brands {
  margin-top: 5px;
  padding-right: 30px;
  font-size: 25px;
}
.contact-header li {
  margin-top: 5px;
}
.contact-container li {
  color: gold;
}
.contact-container a li:nth-child(1) {
  cursor: pointer;
}
.icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}
.icons li {
  margin-right: 65px;
}

/* @media screen and (max-width: 800px) and (min-width: 701px) {
  .nav-btn {
    display: block;
  }
  .nav-text {
    display: none;
  }
  .home-text {
    margin-left: 100px;
    margin-top: 250px;
  }
  .about-header {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 60px;
  }

  .about-text {
    margin-left: 0px;
    width: 100%;
  }
  .about-text h4 {
    margin-top: 30px;
  }
  .card-header {
    flex-direction: column;
  }
  .project-header {
    padding-left: 30px;
  }
  .card-details {
    margin-left: 0;
    width: 100%;
  }
  .tesla-video,
  .image {
    width: 300px;
    height: 200px;
    margin-right: 0;
  }
  .contact-details {
    padding-left: 15px;
  }
  .icons li {
    margin-right: 0;
  }
  .icons {
    margin-top: 20px;
  }
  .icon-2 {
    margin-left: 48px;
    margin-bottom: 20px;
  }
  .icon-4 {
    margin-left: 100px;
    margin-top: 0;
  }
} */

/* @media (min-width:1023px) and (max-width:1025px){
  .icon-4{
    margin-top: 20px;
  }
} */

/* @media(max-width:480px) {
  .nav-btn{
    display: block;
  }
  .nav-text{
    display: none;
  }
  .home-text{
    margin-left: 20px;
    margin-top: 250px;
  }
  .about-header{
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 60px;
}

.about-text{
  margin-left: 0px;
  width: 100%
}
.about-text h4{
  margin-top: 30px;
}
.card-header{
  flex-direction: column;
}
.project-header{
  padding-left: 30px;
}
.card-details{
  margin-left: 0;
  width: 100%;
}
.tesla-video, .image{
  width: 270px;
  height: 190px;
  margin-right: 0;
}
.contact-details{
  padding-left: 15px;
}
.icons li{
  margin-right: 0;
}
.icons{
  margin-top: 20px;
  
}
.icon-3{
  margin-top: 0;
}
.icon-4{
  margin-left: 3px;
  margin-top: 0;
}
} */
@media (min-width: 526px) and (max-width: 800px) {
  .nav {
    height: auto;
  }
  .nav-btn {
    display: block;
  }
  .nav-text {
    display: none;
  }
  .home-text {
    margin-left: 60px;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .about-header {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 60px;
  }

  .about-text {
    margin-left: 0px;
    width: 100%;
  }
  .about-text h4 {
    margin-top: 30px;
  }
  .card-header {
    flex-direction: column;
  }
  .project-header {
    padding-left: 30px;
  }
  .card-details {
    margin-left: 0;
    width: 100%;
  }
  .tesla-video,
  .image {
    width: 270px;
    height: 190px;
    margin-right: 0;
  }
  .contact-details {
    padding-left: 15px;
  }
  .icons li {
    margin-right: 0;
  }
  .icons {
    margin-top: 0px;
    flex-direction: column;
  }

  .icon-4 {
    margin-left: 3px;
    margin-top: 0;
  }
}

@media (min-width: 200px) and (max-width: 525px) {
  .nav {
    height: auto;
  }
  .nav-btn {
    display: block;
  }
  .nav-text {
    display: none;
  }
  .home-text {
    margin-left: 20px;
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .about-header {
    flex-direction: column;
    padding-top: 40px;
    padding-left: 20px;
    padding-bottom: 60px;
  }
  .profile {
    width: 200px;
    height: 200px;
  }
  .about-text {
    margin-left: 0px;
    width: 100%;
  }
  .about-text h4 {
    margin-top: 30px;
  }
  .card-header {
    flex-direction: column;
  }
  .project-header {
    padding-left: 30px;
  }
  .card-details {
    margin-left: 0;
    width: 100%;
  }
  .tesla-video,
  .image {
    width: 200px;
    height: 190px;
    margin-right: 0;
  }
  .contact-details {
    padding-left: 15px;
  }
  .icons li {
    margin-right: 0;
    font-size: 12px;
  }
  .icons {
    margin-top: 20px;
  }
  .fa-solid,
  .fa-brands {
    font-size: 20px;
  }
  .icon-3 {
    margin-top: 0;
  }
  .icon-4 {
    margin-left: 3px;
    margin-top: 0;
  }
}
